{% load static %}

{% if team == "dreamteam" %}

    <button type="button" class="player-button" onclick="window.location.href='{% url 'player' player.player.player_id %}'">
        <div class="player-image-container">
            <img src="{% static 'assets/jerseys/' %}{{ player.team.short_name }}{{ extn }}.webp" alt="{{ player.player.web_name }}" class="player-image">
        </div>
        <div class="dreamteam-count">{{ player.dreamteam_count }}</div>
        <div class="player-info">
            <div class="player-name">{{ player.player.web_name }}</div>
            <div class="player-points">{{ player.points }}</div>
        </div>
    </button>

{% else %}

    <button type="button" class="player-button">
        <div class="player-image-container">
            <img src="{% static 'assets/jerseys/' %}{{ player.team.short_name }}{{ extn }}.webp" alt="{{ player.player.web_name }}" class="player-image">
        </div>
        <div class="player-info">
            <div class="player-name">{{ player.player.web_name }}</div>
            <div class="player-points">{{ player.points }}</div>
        </div>
    </button>

{% endif %}