<div class="stat-button-title-div">
    <div class="stat-title scaling-container2"><span class="scaling2 stat-title-text">{{ title }}</span></div>
    <button class="stat-filter" id="tile{{ tile_number }}-all-button">ALL</button>
    <button class="stat-filter" id="tile{{ tile_number }}-gkp-button">GKP</button>
    <button class="stat-filter" id="tile{{ tile_number }}-def-button">DEF</button>
    <button class="stat-filter" id="tile{{ tile_number }}-mid-button">MID</button>
    <button class="stat-filter" id="tile{{ tile_number }}-fwd-button">FWD</button>
</div>