{% extends "a1_core/base.html"%}
{% load static %}

{% block content %}

<div class="page-div">

    <div class="left-sidebar">
        <h3 class="bar-header">Stats</h3>
        <div class="sidebar-content">
                <li class="bar-list">
                            <a href="{% url 'ict' %}">ICT Stats</a>
                </li>
                <li class="bar-list">
                    <a href="{% url 'in-game' %}">In-game Stats</a>
                </li>
                <li class="bar-list">
                    <a href="{% url 'transfers' %}">Transfers</a>
                </li>
                <li class="bar-list">
                    <a href="{% url 'player-value' %}">Player Value</a>
                </li>
        </div>
    </div>


    <div class="pitch-div-div stats-div">

        <!-- Influence -->
         
        <div class="stat-column-div">
            {% include "a4_analytics/_stat_column_head.html" with title="Influence" tile_number=1 %}

            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.influence.all tile_number=1 tile_suffix="all" stat="stats.influence" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.influence.gkp tile_number=1 tile_suffix="gkp" stat="stats.influence" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.influence.def tile_number=1 tile_suffix="def" stat="stats.influence" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.influence.mid tile_number=1 tile_suffix="mid" stat="stats.influence" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.influence.fwd tile_number=1 tile_suffix="fwd" stat="stats.influence" %}
        </div>
        

        <!-- Creativity -->

        <div class="stat-column-div">
            {% include "a4_analytics/_stat_column_head.html" with title="Creativity" tile_number=2 %}

            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.creativity.all tile_number=2 tile_suffix="all" stat="stats.creativity" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.creativity.gkp tile_number=2 tile_suffix="gkp" stat="stats.creativity" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.creativity.def tile_number=2 tile_suffix="def" stat="stats.creativity" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.creativity.mid tile_number=2 tile_suffix="mid" stat="stats.creativity" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.creativity.fwd tile_number=2 tile_suffix="fwd" stat="stats.creativity" %}
        </div>

        <!-- Threat -->

        <div class="stat-column-div">
            {% include "a4_analytics/_stat_column_head.html" with title="Threat" tile_number=3 %}

            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.threat.all tile_number=3 tile_suffix="all" stat="stats.threat" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.threat.gkp tile_number=3 tile_suffix="gkp" stat="stats.threat" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.threat.def tile_number=3 tile_suffix="def" stat="stats.threat" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.threat.mid tile_number=3 tile_suffix="mid" stat="stats.threat" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.threat.fwd tile_number=3 tile_suffix="fwd" stat="stats.threat" %}
        </div>

        <!-- ICT Index -->

        <div class="stat-column-div">
            {% include "a4_analytics/_stat_column_head.html" with title="ICT Index" tile_number=4 %}

            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.ict_index.all tile_number=4 tile_suffix="all" stat="stats.ict_index" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.ict_index.gkp tile_number=4 tile_suffix="gkp" stat="stats.ict_index" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.ict_index.def tile_number=4 tile_suffix="def" stat="stats.ict_index" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.ict_index.mid tile_number=4 tile_suffix="mid" stat="stats.ict_index" %}
            {% include "a4_analytics/_stat_column.html" with player_list=stat_lists.ict_index.fwd tile_number=4 tile_suffix="fwd" stat="stats.ict_index" %}
        </div>
    </div>



</div>

{% endblock %}


