{% load static %}

<head>
    <link href="//www.premierleague.com/resources/rebrand/v7.153.51/ism/css/ism.css" rel="stylesheet"/>
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=PremierSans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}?version=1">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="{% static 'assets/pl-main-logo-colour.png' %}">
            <button onclick="window.location.href='{% url 'dreamteam' gameweek %}';" class="navbar-item">    
            Dreamteams
        </button>
        <button onclick="window.location.href='{% url 'ep' %}';" class="navbar-item">
            Expected Points
        </button>
        <button onclick="window.location.href='{% url 'fixtures' gameweek_next %}';"class="navbar-item">
            Fixtures
        </button>
        <button onclick="window.location.href='{% url 'ict' %}';"class="navbar-item">
            Stats
        </button>

    </div>
    <script src="{% static 'assets/js/script_ep.js' %}"></script>
    <script src="{% static 'assets/js/script_stat_tiles.js' %}"></script>
    <script src="{% static 'assets/js/script_global.js' %}"></script>
</body>
{% block content %}
{% endblock %}
<footer>
</footer>